@font-face {
  font-family: Lato-Black.ttf;
  src: url(Lato-Black.ttf);
}
body {
  background-color: lightblue;
}

/*whole page*/
h1 {
  /*color scheme for background*/
  color: hsl(217, 71%, 45%);
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 400px;
  margin: auto;
  text-align: center;
  text-decoration: underline;
}
h2 {
  color: rgb(168, 49, 247);
  padding-top: 15pt;
  padding-left: 45pt;
  padding-right: 4pt;
  padding-bottom: 3pt;
}
h3 {
  background-color: #808080;
}

body {
  display: flex;
  border-style: solid;
  border-color: cyan;
  border-width: 2px;
  border-radius: 3px;
  padding: 10px 20px 30px 40px;
}

header {
  display: grid;
}

.box {
}

#agenda {
  border: blueviolet;
}
